In [31]:
%cd /Users/tillschaland/Project/Gutemberg-Graph-Network/GutenbergCorpus/

/Users/tillschaland/Project/Gutemberg-Graph-Network/gutenbergCorpus

# Process Random English books

In [32]:
import pandas as pd
import  os
import definitions
import regex as re
import spacy

In [33]:
df = pd.read_json("./data/checkpoint/temporarydocs.json")

In [34]:
df=df.sample(n=5)

In [35]:
df.head()

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type,text,paras
586,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,\n\n\n\n\n\n\n\n\n AN...,"[, , , , \n ANGELA'S ..."
538,PG9976,Hernani,"Hugo, Victor",1802.0,1885.0,['fr'],66,"{'Hernani (Fictitious character) -- Drama', 'T...",NaN,the PG Online Distributed Proofreaders\n\n\n\n...,"[the PG Online Distributed Proofreaders, , , ,..."
454,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,\n\n\n\n\n\n\n\n _THE ATTIC GUEST_\n\n _A NO...,"[, , , , _THE ATTIC GUEST_, _A NOVEL_, \n ..."
62,PG63142,Harry Joscelyn; vol. 1 of 3,"Oliphant, Mrs. (Margaret)",1828.0,1897.0,['en'],12,"{'Inheritance and succession -- Fiction', 'Fam...",NaN,produced from images available at The Internet...,[produced from images available at The Interne...
840,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,\n[Illustration]\n\n\n\n\nThe Enormous Room\n\...,"[\n[Illustration], , \nThe Enormous Room, by E..."

In [36]:
df_english = df[df.language.apply(lambda x: x == "['en']")]

In [37]:
def process(doc):
    step1= re.sub(r"\s{2,}", r" ",doc)
    step2 = step1.split("\n")
    return step2

In [38]:
df_english['sents'] = df_english.text.apply(process)

In [39]:
df_english.head()

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type,text,paras,sents
586,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,\n\n\n\n\n\n\n\n\n AN...,"[, , , , \n ANGELA'S ...",[ ANGELA'S BUSINESS BY HENRY SYDNOR HARRISON W...
454,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,\n\n\n\n\n\n\n\n _THE ATTIC GUEST_\n\n _A NO...,"[, , , , _THE ATTIC GUEST_, _A NOVEL_, \n ...",[ _THE ATTIC GUEST_ _A NOVEL_ _By_ _ROBERT E. ...
62,PG63142,Harry Joscelyn; vol. 1 of 3,"Oliphant, Mrs. (Margaret)",1828.0,1897.0,['en'],12,"{'Inheritance and succession -- Fiction', 'Fam...",NaN,produced from images available at The Internet...,[produced from images available at The Interne...,[produced from images available at The Interne...
840,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,\n[Illustration]\n\n\n\n\nThe Enormous Room\n\...,"[\n[Illustration], , \nThe Enormous Room, by E...","[, [Illustration] The Enormous Room by E. E. C..."

In [40]:
df_english_new = df_english.reset_index()
df_english_new = df_english_new.rename({'index':'bookindex'},axis=1)

In [41]:
df_english_new=df_english_new.drop('text',axis=1)
df_english_new=df_english_new.drop('paras',axis=1)

In [42]:
df_english_new.head()

,bookindex,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type,sents
0,586,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,[ ANGELA'S BUSINESS BY HENRY SYDNOR HARRISON W...
1,454,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,[ _THE ATTIC GUEST_ _A NOVEL_ _By_ _ROBERT E. ...
2,62,PG63142,Harry Joscelyn; vol. 1 of 3,"Oliphant, Mrs. (Margaret)",1828.0,1897.0,['en'],12,"{'Inheritance and succession -- Fiction', 'Fam...",NaN,[produced from images available at The Interne...
3,840,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,"[, [Illustration] The Enormous Room by E. E. C..."

In [43]:
df_english_new.to_json("./data/checkpoint/sents_nonExplode.json",orient='index')

In [44]:
df_english_new = df_english_new.drop("bookindex",axis=1)

In [45]:
df_english_new = df_english_new.reset_index().rename({'index':'bookindex'},axis=1)

In [46]:
df_english_new

,bookindex,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type,sents
0,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,[ ANGELA'S BUSINESS BY HENRY SYDNOR HARRISON W...
1,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,[ _THE ATTIC GUEST_ _A NOVEL_ _By_ _ROBERT E. ...
2,2,PG63142,Harry Joscelyn; vol. 1 of 3,"Oliphant, Mrs. (Margaret)",1828.0,1897.0,['en'],12,"{'Inheritance and succession -- Fiction', 'Fam...",NaN,[produced from images available at The Interne...
3,3,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,"[, [Illustration] The Enormous Room by E. E. C..."

In [47]:
df_english_new = df_english_new.explode('sents')

In [48]:
df_english_new.head()

,bookindex,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type,sents
0,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,ANGELA'S BUSINESS BY HENRY SYDNOR HARRISON WI...
0,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,"at work by a lady admirer, he did not gaze lar..."
0,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,"crystal vase, one hand lightly touching his fo..."
0,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,off page after page in high godlike frenzy. On...
0,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,"man at the table yawned, lolled, sighed, scrat..."

In [49]:
df_english_new = df_english_new.reset_index()
df_english_new = df_english_new.drop('index',axis=1)
df_english_new = df_english_new.rename({'index':'sentIndex'},axis=1)

In [50]:
df_english_new.head()

,bookindex,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type,sents
0,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,ANGELA'S BUSINESS BY HENRY SYDNOR HARRISON WI...
1,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,"at work by a lady admirer, he did not gaze lar..."
2,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,"crystal vase, one hand lightly touching his fo..."
3,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,off page after page in high godlike frenzy. On...
4,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,"man at the table yawned, lolled, sighed, scrat..."

In [51]:
df_english_new.to_json("./data/checkpoint/sentenizedbooks.json",orient='index')

In [52]:
df_english_new.head()

,bookindex,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type,sents
0,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,ANGELA'S BUSINESS BY HENRY SYDNOR HARRISON WI...
1,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,"at work by a lady admirer, he did not gaze lar..."
2,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,"crystal vase, one hand lightly touching his fo..."
3,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,off page after page in high godlike frenzy. On...
4,0,PG34297,Angela's Business,"Harrison, Henry Sydnor",1880.0,1930.0,['en'],21,{'Fiction'},NaN,"man at the table yawned, lolled, sighed, scrat..."

In [53]:
books=[]
for i in set(df_english_new.bookindex):
    temp_ = df_english_new[df_english_new['bookindex']==i]
    books.append(temp_)

In [54]:
from bertopic import BERTopic
from sklearn.feature_extraction.text import CountVectorizer

def setup4():
    vectorizer_model = CountVectorizer(stop_words="english")
    topic_model = BERTopic(vectorizer_model=vectorizer_model)
    return topic_model

def create_topics(sents):
    tm = setup4()
    topics, probs = tm.fit_transform(sents)
    name = tm.get_topic()
    return topics, probs

In [55]:
def create_topics2(sents):
    tm = setup4()
    topics, probs = tm.fit_transform(sents)
    document_info=tm.get_document_info(sents)
    all_topics=tm.get_topics()
    
    return topics, probs, document_info,all_topics

In [56]:
books[1]

,bookindex,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type,sents
7429,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,_THE ATTIC GUEST_ _A NOVEL_ _By_ _ROBERT E. K...
7430,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,would probably have never been given to the wo...
7431,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,visit which I paid to a certain manse. It was ...
7432,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,"following chapters, now first presented to the..."
7433,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,to my hands. The hands which placed the manusc...
...,...,...,...,...,...,...,...,...,...,...,...
13224,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,too; they're the very same--they've never fade...
13225,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,"knew not what else to say. ""You know, you said..."
13226,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,first came here--you said you always loved an ...
13227,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,"from my face. ""Because it's nearest heaven,"" h..."
13228,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,"Helen""--and his arms were open wide. THE END *..."

In [68]:
books_new=[]
for i,book in enumerate(books):
    sents = [str(sent) for sent in (book.sents)]
    topics,probs,topic_names,all_topics=create_topics2(sents)
    books_new.append(pd.concat([book.reset_index(),topic_names.reset_index().drop('index',axis=1)],axis=1))

In [69]:
books_new[1]

,index,bookindex,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type,sents,Document,Topic,Name,Top_n_words,Probability,Representative_document
0,7429,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,_THE ATTIC GUEST_ _A NOVEL_ _By_ _ROBERT E. K...,_THE ATTIC GUEST_ _A NOVEL_ _By_ _ROBERT E. K...,10,10_attic_room_house_elder,attic - room - house - elder - tiny - bed - sm...,1.000000,True
1,7430,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,would probably have never been given to the wo...,would probably have never been given to the wo...,-1,-1_little_just_know_mother,little - just - know - mother - knew - voice -...,0.000000,False
2,7431,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,visit which I paid to a certain manse. It was ...,visit which I paid to a certain manse. It was ...,17,17_money_butchers_invested_debt,money - butchers - invested - debt - pounds - ...,0.789378,False
3,7432,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,"following chapters, now first presented to the...","following chapters, now first presented to the...",-1,-1_little_just_know_mother,little - just - know - mother - knew - voice -...,0.000000,False
4,7433,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,to my hands. The hands which placed the manusc...,to my hands. The hands which placed the manusc...,24,24_letter_letters_wrote_write,letter - letters - wrote - write - hands - key...,0.877615,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5795,13224,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,too; they're the very same--they've never fade...,too; they're the very same--they've never fade...,-1,-1_little_just_know_mother,little - just - know - mother - knew - voice -...,0.000000,False
5796,13225,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,"knew not what else to say. ""You know, you said...","knew not what else to say. ""You know, you said...",-1,-1_little_just_know_mother,little - just - know - mother - knew - voice -...,0.000000,False
5797,13226,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,first came here--you said you always loved an ...,first came here--you said you always loved an ...,10,10_attic_room_house_elder,attic - room - house - elder - tiny - bed - sm...,1.000000,False
5798,13227,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,"from my face. ""Because it's nearest heaven,"" h...","from my face. ""Because it's nearest heaven,"" h...",1,1_said_answered_yes_im,said - answered - yes - im - know - smile - do...,1.000000,False
5799,13228,1,PG56675,The Attic Guest: A Novel,"Knowles, Robert E. (Robert Edward)",1868.0,1946.0,['en'],10,"{'Clergy -- Fiction', 'Mate selection -- Ficti...",NaN,"Helen""--and his arms were open wide. THE END *...","Helen""--and his arms were open wide. THE END *...",10,10_attic_room_house_elder,attic - room - house - elder - tiny - bed - sm...,1.000000,False

In [70]:
for book in books_new:
    bookid_=list(set(book.id))[0]
    book.to_json(f"./data/books/processed_topics_book_{bookid_}.json", orient='index')

In [71]:
book

,index,bookindex,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type,sents,Document,Topic,Name,Top_n_words,Probability,Representative_document
0,17952,3,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,,,-1,-1_said_time_eyes_little,said - time - eyes - little - great - say - fa...,0.000000,False
1,17953,3,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,[Illustration] The Enormous Room by E. E. Cumm...,[Illustration] The Enormous Room by E. E. Cumm...,3,3_room_enormous_pillars_inhabitants,room - enormous - pillars - inhabitants - eccl...,0.495287,False
2,17954,3,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,FOUND.” He was lost by the Norton-Harjes Ambul...,FOUND.” He was lost by the Norton-Harjes Ambul...,-1,-1_said_time_eyes_little,said - time - eyes - little - great - say - fa...,0.000000,False
3,17955,3,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,to life—with the help of powerful and willing ...,to life—with the help of powerful and willing ...,-1,-1_said_time_eyes_little,said - time - eyes - little - great - say - fa...,0.000000,False
4,17956,3,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,the Atlantic. The following documents tell the...,the Atlantic. The following documents tell the...,-1,-1_said_time_eyes_little,said - time - eyes - little - great - say - fa...,0.000000,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7107,25059,3,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,"edges, leaningly strode upward into firm hard ...","edges, leaningly strode upward into firm hard ...",32,32_darkness_autumn_sunlight_poem,darkness - autumn - sunlight - poem - dampness...,0.958007,False
7108,25060,3,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,noises of America nearingly throbbed with smok...,noises of America nearingly throbbed with smok...,-1,-1_said_time_eyes_little,said - time - eyes - little - great - say - fa...,0.000000,False
7109,25061,3,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,which are men and which are women and which ar...,which are men and which are women and which ar...,73,73_women_men_female_woman,women - men - female - woman - strong - endura...,1.000000,True
7110,25062,3,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,"and hard and strange and vibrant and immense, ...","and hard and strange and vibrant and immense, ...",-1,-1_said_time_eyes_little,said - time - eyes - little - great - say - fa...,0.000000,False
7111,25063,3,PG8446,The Enormous Room,"Cummings, E. E. (Edward Estlin)",1894.0,1962.0,['en'],131,"{'War stories', 'Concentration camp inmates --...",NaN,ondulous stride firmly into immortal sunlight….,ondulous stride firmly into immortal sunlight….,32,32_darkness_autumn_sunlight_poem,darkness - autumn - sunlight - poem - dampness...,0.793524,False

In [72]:
nlp = spacy.load('en_core_web_md')
def get_NER(doc,nlp):
    pDoc = nlp(doc)
    results = list()
    for ent in pDoc.ents:
        if ent.label_ == 'PERSON':
            results.append(ent.text)

    return results

In [73]:
for book in books_new:
    book['PERS']=book.sents.apply(lambda x: get_NER(x,nlp))

In [89]:
for book in books_new:
    bookid_=list(set(book.id))[0]
    book.to_json(f"./data/books/final/processed_topics_ner_book_{bookid_}.json", orient='index')

# old